<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dandelion.use.server.service.user.repository.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dandelion.use.server.service.user.repository.entity.SysUser">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="password" property="password" />
        <result column="nick_name" property="nickName" />
        <result column="sex" property="sex" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <resultMap id="queryUserRoleMap" type="com.dandelion.use.server.service.user.repository.entity.SysUser" autoMapping="true">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="password" property="password" />
        <result column="nick_name" property="nickName" />
        <result column="sex" property="sex" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <collection property="roles" ofType="com.dandelion.use.server.service.user.repository.entity.SysRole" autoMapping="true" columnPrefix="r_">
            <id column="id" property="id"/>
            <result column="roleName" property="roleName"/>
        </collection>
    </resultMap>

    <select id="getUserRoleInfo" resultMap="queryUserRoleMap">
        SELECT su.*,
               sr.id        AS r_id,
               sr.role_name as r_roleName
        FROM sys_user AS su
                 LEFT JOIN sys_user_role AS sur ON su.id = sur.user_id
                 LEFT JOIN sys_role AS sr ON sur.role_id = sr.id
        WHERE su.user_name = #{userName}
    </select>

</mapper>
